<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ contact.marker.placename }} - {{ contact.marker.description }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact.marker.url">Link: <a href="{{ contact.marker.url }}"></a></p>
    <p ng-if="contact.marker.entryname">Entry person: {{ contact.marker.entryname }} </p>
    <p ng-if="contact.marker.time">Trip Length: {{ contact.marker.time }} hours</p>
    <p ng-if="contact.marker.lat"> lat: {{ contact.marker.lat }} </p>
    <p ng-if="contact.marker.lng"> lng: {{ contact.marker.lng }}</a></p>
    <p>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back to Map</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>