<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ contact.marker.placename }} - {{ contact.marker.description }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact.marker.url">Link: <a ng-href="{{ contact.marker.url }}" target="_blank">{{ contact.marker.url }}</a></p>
    <p ng-if="contact.marker.entryname">Category: {{ contact.marker.entryname }} </p>
    <p ng-if="contact.marker.time">Trip Length: {{ contact.marker.time }} hours</p>
    <p ng-if="contact.marker.lat">Go on google maps: <a ng-href="http://www.google.com/maps/place/{{ contact.marker.lat }},{{ contact.marker.lng }}" target="_blank">Click here to open location in Google Maps</a></p>
    <p>
      <a style="margin-top:20px" class="btn btn-default" href="javascript:history.back()">Back to Map</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>