<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Create new map point</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Name of Place *</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
    </p>
    <p>
      <label>Why is this place awesome? *</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
    </p>
    <p>
      <label>Blog Link *</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
    </p>
    <p>
      <label>What's your first name?</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile"> 
    </p>
    <p>
      <label>How long is the activity in hours?</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.work"> 
    </p>
    <p>
      <label>Latitude (in US between 27 & 50)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.address"> 
    </p>
    <p>
      <label>Longitude (in contintental US between -68 & -125)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.twitter"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>